@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #4a90e2;

    --secondary: #50e3c2;
    --background: #f5f7fa;
    --foreground:#ffffff;
    --text: #333333;
    --text-primary: #000000;
    --border: #e0e0e0;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
 --text-gray: #a0aec0;
    
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary: #9D71FF;
        --secondary: #616161;
        --background: #191818;
        --foreground: #252525;

        --text: #FFFFFF;
        --text-primary: #ffffff;
        --border: #333333;
        --text-gray: #C0C0C0; 
    }
}   

2e046d
*/